/* user story 1 */
 #main {
   font-family: 'Work Sans', sans-serif;
   margin: 40px;
 }
 /* user story 2 */
 #title {
   font-family: 'Crimson Text', serif;
 }
h3 {
  font-family: 'Crimson Text', serif;
}
/* user story 3 */
#img-div {
  /* placeholder text */
}
/* user story 4 and 8 */
#image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* user story 5 */
#img-caption {
  text-align: center;
}
/* user story 6 */
#tribute-info {
  /* placeholder */
}
/* user story 7 */
tribute-link {
  /* placeholder */
}
